[
	{
		"url": "http://user:pass@rets.server.com:9160/Login.asmx/Login",
		"userAgent": "RETS-Connector1/2",
	    "userAgentPassword": ""
	},
	{
		"url": "http://user:pass@rets.server.com:9160/Login.asmx/Login",
		"userAgent": "RETS-Connector1/2",
	    "userAgentPassword": ""
	}
]